<div>
  <div class="element">
    <app-search-task (inputChanges)="searchByQuery($event)"></app-search-task>
  </div>
  <div class="element title">
    <span>{{ currentTaskName$ | async }}</span>
    <div class="btn" (click)="openCreatePage()">+</div>
  </div>
  <table>
    @for (task of tasks$ | async; track task.name) {
      <tr>
        @if (!task.isRemovedTask) {
          <td>
            <label class="custom-checkbox">
              <input
                (change)="finishTask($event, task)"
                type="checkbox"
                value="true"
                [checked]="task.isFinishedTask"
              />
              <span class="checkmark"></span>
            </label>
          </td>
        }
        <td [ngClass]="task.isUrgentTask ? 'highlight' : ''">
          <span [innerHTML]="highlightText(task.name)"></span>
        </td>
        <td class="flex gap-10 wrap">
          @for (tag of task.tags; track tag) {
            <span [ngClass]="getClassByTagName(tag)"> {{ tag }}</span>
          }
        </td>
        <td>{{ task.deadline }}</td>
        @if (!task.isRemovedTask) {
          <td>
            <img
              (click)="removeTask(task)"
              src="assets/svg/basket.svg"
              alt="delete"
            />
          </td>
        }
        <td><img src="assets/svg/dots.svg" alt="dots" /></td>
      </tr>
    }
  </table>
</div>
@if (isReadyToRemove) {
  <app-remove-task
    [innerTask]="taskToRemove"
    (removeTask)="deleteTask()"
    (close)="closeModal()"
  ></app-remove-task>
}
