.create-container{
  width: 100%;
  background-color: var(--bg-container);
  &-header{
    padding: 10px 15px;
    background-color: var(--bg-primary-light);
    color:var(--text-navbar);
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
  }
  img{
    cursor: pointer;
  }
  form{
    padding: 20px;
    gap:10px;
    border: 1px solid var(--text-white);
    margin: 10px;
    @media screen and (min-width: 768px){
      max-width: 360px;
      height: 100%;
      gap:30px;
    }
    .form-control{
      img{
        width: 14px;
        height: 14px;
      }
      label{
        color: var(--text-primary);
        font-size: 12px;
        line-height: 18px;
      }
      input, textarea{
        padding: 7px 14px;
        color: var(--text-navbar);
      }
      .date{
        cursor: pointer;
        caret-color: transparent;
        background-image: url('/assets/svg/calendar.svg');
        background-repeat: no-repeat;
        background-position: 95% center;
      }
    }
  }
  @media screen and (min-width: 768px){
    max-width: 360px;
    height: 100%;
  }

}
.disabled{
  background-color: #4e4c65;
  color: #7a788f;
  border: 1px solid #4e4c65;
  cursor: not-allowed;
  opacity: 0.6;
}
