<app-button class="btn" (buttonClick)="onCreate()"></app-button>
<ul class="list">
  @for (item of items; track item) {
    <li
      (click)="onItemClick(item)"
      class="list-item"
      [ngClass]="item === activeItem ? ' list-item__active' : ''"
    >
      <img [src]="'assets/svg/' + item.icon + '.svg'" [alt]="item.label" />
      <span>{{ item.label }}</span>
    </li>
  }
</ul>
<div class="tag">
  <span class="tag-title">Теги</span>
  <ul class="list">
    @for (tag of tags$ | async; track tag) {
      <li
        (click)="filterByTag(tag.label)"
        [ngClass]="{
          'list-item': true,
          'list-item__active-tag': (activeTags$ | async)?.includes(tag.label),
        }"
      >
        <div class="circle" [ngClass]="tag.className"></div>
        <span>{{ tag.label }}</span>
      </li>
    }
  </ul>
</div>
